<html>
	<head>
		<title>login</title>
		<link id="main_styles" rel="stylesheet" href="/__auth__/dist/css/bootstrap.min.css" />
  	</head>
	<body>
		<div class="container">
			<form method="post" enctype="application/x-www-form-urlencoded">
				<div class="row" style="margin: auto; margin-top: 200px; max-width: 800px">
					<div class="col-12">
						<h2>Login</h2>
					</div>
					<div class="col-12" th:if="${error}">
						<div class="alert alert-danger">Login failed. Please try again.</div>
					</div>
					<div class="col-ld-6 col-md-6 col-sd-12">
						<div class="form-group">
							<input name="username" class="form-control" th:value="${username}" autofocus placeholder="username">
						</div>	
					</div>
					<div class="col-ld-6 col-md-6 col-sd-12">
						<div class="form-group">
							<input name="password" type="password" class="form-control" th:value="${password}" placeholder="">	
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<button type="submit" class="btn btn-primary float-right">Login</button>
						</div>	
					</div>
				</div>
			</form>
		</div>
	</body>
</html>