<html>
	<head>
		<title>login</title>
		<link id="main_styles" rel="stylesheet" href="/__auth__/dist/css/bootstrap.min.css" />
  	</head>
	<body>
		<div class="container">
			<form method="post" enctype="application/x-www-form-urlencoded">
				<div class="row" style="margin: auto; margin-top: 200px">
					<div class="col-12">
						<h2>Login</h2>
					</div>
					<div class="col-5">
						<input name="username" class="form-control" th:value="${username}" autofocus placeholder="username">	
					</div>
					<div class="col-5">
						<input name="password" type="password" class="form-control" th:value="${password}" placeholder="">	
					</div>
					<div class="col-2">
						<button type="submit" class="btn btn-primary">Login</button>	
					</div>
				</div>
			</form>
		</div>
	</body>
</html>